<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.GameConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Game.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="DataBase.Properties.Settings.GameConnectionString1"
            connectionString="Data Source=|DataDirectory|\Game.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>